{ config, pkgs, ... }:

{
  # Home Manager needs a bit of information about you and the paths it should
  # manage.
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  # This value determines the Home Manager release that your configuration is
  # compatible with. This helps avoid breakage when a new Home Manager release
  # introduces backwards incompatible changes.
  #
  # You should not change this value, even if you update Home Manager. If you do
  # want to update the value, then make sure to first check the Home Manager
  # release notes.
  home.stateVersion = "26.05"; # Please read the comment before changing.

  home.packages = [
    pkgs.aria2
    pkgs.asdf-vm
    pkgs.bat
    pkgs.btop
    pkgs.ccache
    pkgs.chezmoi
    pkgs.cmake
    pkgs.cosign
    pkgs.delta
    pkgs.devenv
    pkgs.ffmpeg
    pkgs.lazygit
    pkgs.lua
    pkgs.luarocks
    pkgs.neovim
    pkgs.plantuml
    pkgs.tlrc
    pkgs.tmux
    pkgs.tmuxinator
    pkgs.topgrade
    pkgs.uv
  ];

  home.sessionVariables = {
    # basics
    EDITOR = "nvim";
    MANPAGER="nvim +Man!";

    # compilers
    CC = "{{ .dev.compilers.cc }}";
    CXX = "{{ .dev.compilers.cxx }}";
    CFLAGS = "{{ .dev.compilers.ccflags }}";
    CXXFLAGS = "{{ .dev.compilers.cxxflags }}";
    CPPFLAGS = "{{ .dev.compilers.cxxflags }}";
    CMAKE_C_COMPILER_LAUNCHER="ccache";
    CMAKE_CXX_COMPILER_LAUNCHER="ccache";
    CMAKE_GENRATOR="Ninja";
    CMAKE_INSTALL_PREFIX="{{ .dev.directories.source_install_dir }}";

    # other ones
    HF_HUB_DISABLE_XET = "1";
    UV_TORCH_BACKEND="auto";

    TMUXINATOR_CONFIG = "$HOME/.local/share/tmuxinator-projects";
  };

  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;
}
