{ config, pkgs, scal, ... }:

let
  coreutilsBin = scal.lib.coreutilsBin { inherit pkgs; };
in {
  # Home Manager needs a bit of information about you and the paths it should
  # manage.
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";

  # This value determines the Home Manager release that your configuration is
  # compatible with. This helps avoid breakage when a new Home Manager release
  # introduces backwards incompatible changes.
  #
  # You should not change this value, even if you update Home Manager. If you do
  # want to update the value, then make sure to first check the Home Manager
  # release notes.
  home.stateVersion = "26.05"; # Please read the comment before changing.

  home.packages = [
    pkgs.aria2
    pkgs.asdf-vm
    pkgs.bat
    pkgs.btop
    pkgs.ccache
    pkgs.chezmoi
    pkgs.clang
    pkgs.cosign
    pkgs.delta
    pkgs.devenv
    pkgs.emacs
    pkgs.fd
    pkgs.ffmpeg
    pkgs.fontconfig
    pkgs.gh
    pkgs.git-lfs
    pkgs.git-xet
    pkgs.glab
    pkgs.graphviz
    pkgs.lazygit
    pkgs.lua
    pkgs.luarocks
    pkgs.neovim
    pkgs.plantuml
    pkgs.qemu
    pkgs.ripgrep
    pkgs.tlrc
    pkgs.tmux
    pkgs.tmuxinator
    pkgs.topgrade
    pkgs.tree-sitter
    pkgs.uv

    pkgs.bruno
    pkgs.direnv
    pkgs.lsd
    pkgs.mole-cleaner
    pkgs.sourcegit
    pkgs.vlc-bin
  ];

  home.sessionVariables = {
    # basics
    EDITOR = "nvim";
    MANPAGER="nvim +Man!";

    # compilers
    CMAKE_GENRATOR="Ninja";
    CMAKE_INSTALL_PREFIX="{{ .dev.directories.source_install_dir }}";

    # other ones
    HF_HUB_DISABLE_XET = "1";
    UV_TORCH_BACKEND="auto";

    TMUXINATOR_CONFIG = "$HOME/.local/share/tmuxinator-projects";
  };

  # Let Home Manager install and manage itself.
  programs.home-manager.enable = true;
}
