typeset -U path

# PATH expansion
[[ -d "$HOME/.local/bin" ]] && path=("$HOME/.local/bin" $path)

[[ -f "$HOME/.local/bin/env" ]] && . "$HOME/.local/bin/env"

[[ -d "$HOME/.aspire/bin" ]] && path=("$HOME/.aspire/bin" $path)
[[ -d "$HOME/.local/share/gem/ruby/3.4.0/bin" ]] && path=("$HOME/.local/share/gem/ruby/3.4.0/bin" $path)
[[ -d "$HOME/.dotnet/tools" ]] && path=($path "$HOME/.dotnet/tools")
[[ -d "$HOME/.lmstudio/bin" ]] && path=("$HOME/.lmstudio/bin" $path)
[[ -f "{{ .dev.directories.source_install_dir }}" ]] && path=("{{ .dev.directories.source_install_dir }}bin" $path)

{{ if eq .chezmoi.os "darwin" }}
  [[ -d "/opt/homebrew/opt/ccache/libexec" ]] && path=("/opt/homebrew/opt/ccache/libexec" $path)
{{ end }}

export PATH


{{ if eq .chezmoi.os "linux" }}
if [ -d "$HOME/.local/share/pnpm" ]; then
  export PNPM_HOME="$HOME/.local/share/pnpm"
  case ":$PATH:" in
    *":$PNPM_HOME:"*) ;;
    *) export PATH="$PNPM_HOME:$PATH" ;;
  esac
fi
{{ else if eq .chezmoi.os "darwin" }}
if [ -d "$HOME/Library/pnpm" ]; then
    export PNPM_HOME="$HOME/Library/pnpm"
    case ":$PATH:" in
    *":$PNPM_HOME/bin:"*) ;;
    *) export PATH="$PNPM_HOME/bin:$PATH" ;;
    esac
fi
{{ end }}
