[[ -z ${EDITOR:-} ]] && export EDITOR=nvim

# if clang is avaliable and CC/CXX is unset, set CC/CXX to the respective compiler
[[ -z ${CC:-} ]] && export CC="{{ .dev.compilers.cc }}"
[[ -z ${CXX:-} ]] && export CXX="{{ .dev.compilers.cxx }}"

# explicit exports of flags
[[ -z ${CFLAGS:-} ]] && export CFLAGS="{{ .dev.compilers.ccflags }}"
[[ -z ${CXXFLAGS:-} ]] && export CXXFLAGS="{{ .dev.compilers.cxxflags }}"
[[ -z ${CPPFLAGS:-} ]] && export CPPFLAGS="{{ .dev.compilers.cxxflags }}"

[[ -f ~zpfx/bin/nvim ]] && alias nvy="neovide --neovim-bin ~zpfx/bin/nvim" 

[[ -z ${MANPAGER:-} ]] && export MANPAGER='nvim +Man!'

# CMake env vars

export CMAKE_C_COMPILER_LAUNCHER=ccache
export CMAKE_CXX_COMPILER_LAUNCHER=ccache
export CMAKE_GENRATOR=Ninja
export CMAKE_INSTALL_PREFIX="{{ .dev.directories.source_install_dir }}"
