[[ -z ${EDITOR:-} ]] && export EDITOR=nvim

# if {{ .dev.compilers.cc }}/{{ .dev.compilers.cxx }} is avaliable and CC/CXX is unset, set CC/CXX to the specified values
[[ -z ${CC:-} ]] && export CC="{{ .dev.compilers.cc }}"
[[ -z ${CXX:-} ]] && export CXX="{{ .dev.compilers.cxx }}"

# explicit exports of flags
[[ -z ${CFLAGS:-} ]] && export CFLAGS="{{ .dev.compilers.ccflags }}"
[[ -z ${CXXFLAGS:-} ]] && export CXXFLAGS="{{ .dev.compilers.cxxflags }}"
[[ -z ${CPPFLAGS:-} ]] && export CPPFLAGS="{{ .dev.compilers.cxxflags }}"

[[ -z ${MANPAGER:-} ]] && export MANPAGER='nvim +Man!'

# CMake env vars

export CMAKE_C_COMPILER_LAUNCHER=ccache
export CMAKE_CXX_COMPILER_LAUNCHER=ccache
export CMAKE_GENRATOR=Ninja
export CMAKE_INSTALL_PREFIX="{{ .dev.directories.source_install_dir }}"

export UV_TORCH_BACKEND=auto

# FUCK XET! MY ISP DOES NOT LIKE XET.
export HF_HUB_DISABLE_XET=1

# change tmuxinator's config dir to one managed by chezmoi
export TMUXINATOR_CONFIG="$HOME/.local/share/tmuxinator-projects"
